
<div class="text-center">
    <h1 class="display-4">List of Available Customers</h1>
</div>

<table id="customersTable" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Telephone Number</th>
            <th>Contact Person</th>
            <th>Contact Person Email</th>
            <th>VAT Number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
